// background colors
$background-color: #ffffffff;
$card-color: #f7fafc;

// Font color
$text-primary: #404040; 
$text-secondary: #737373;

// borders
$border-radius: 4px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
