---
import { personalData } from "@/data/personal";
import Socials from "@/components/shared/Socials.astro";
---

<div>
  <div class="text-xl text-neutral-900">Get in touch! </div>
  <div class="py-2"></div>
  <div>
    You can reach me at
    <a
      href={`mailto:${personalData.email}`}
      class="hover:bg-neutral-200 transition duration-300 px-1 py-0.5">{personalData.email}</a
    >, or use any of the links below!
  </div>
  <div class="py-1"></div>
  <Socials />
</div>
