---
type Social = {
  link: string;
  name: string;
};

const socials: Social[] = [
    {
        name: "Cal.com",
        link: "https://www.cal.com/jingxiangmo/meet",
    },
    {
        name: "GitHub",
        link: "https://github.com/jingxiangmo",
    },
    // {
    //     name: "Twitter",
    //     link: "https://twitter.com/jingxiangmo",
    // },
];
---

<div class="flex gap-2">
  {
    socials.map((social, idx) => {
      if (idx !== socials.length - 1) {
        return (
          <>
            <a
              href={social.link}
              target="_blank"
              class="link text-neutral-700 px-1 py-0.5 transition duration-100"
            >
              {social.name}
            </a>
            <div class="py-0.5">/</div>
          </>
        );
      } else {
        return (
          <a href={social.link} class="link text-neutral-700 px-1 py-0.5 transition duration-300" target="_blank">
            {social.name}
          </a>
        );
      }
    })
  }
</div>
