@import "/src/app/styles/_variables.scss";

.proj_card {
  align-self: center;
  display: flex;

  background-color: $card-color;

  width: 60vw;

  padding: 4rem;
  margin-bottom: 4rem;

  .proj_img {
    border-radius: 0.2rem;
    width: 20rem;
    margin: 1rem;
  }

  .proj_info {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .proj_title_bar {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: 1rem;

      .proj_title {
        font-size: 1.5rem;
      }

      .proj_date {
        color: $text-secondary;
        font-size: 0.8rem;
      }
    }

    .proj_headline {
      font-size: 1rem;
    }

    .proj_description {
      color: $text-secondary;
      font-size: 0.8rem;
    }

    .proj_links {
      display: flex;
      flex-direction: row;
      gap: 0.3rem;

      .link {
        color: $text-secondary;
      }
    }
  }
}
