---
import Layout from "../layouts/Layout.astro";
import { ViewTransitions } from "astro:transitions";
import Socials from "@/components/shared/Socials.astro";
import Contact from "@/components/shared/Contact.astro";
import ProjectList from "@/components/home/LatestProjects.astro";
import LatestPosts from "@/components/home/LatestPosts.astro";
---

<Layout title="jingxiangmo.com - home" >
  <ViewTransitions />

  <div class="text-2xl text-black">Projects in Software and Robotics</div>

  <div class="py-4"></div>


  <div class="max-w-xl leading-relaxed space-y-1.5">

    <div class="mb-5">  Hi, I'm JX! I try to explore and understand the world and build things to improve it.</div>

    <div class="mb-5">
      Currently, I work on building automation systems at <a class="link" href="https://zeroth.sh"> Zeroth</a>. Previously, I worked on the development of a visual programming
      product that simplifies robotics control and industrial automation for engineers and
      scientists at <a class="link"href="https://flojoy.ai">Flojoy</a>,.

    </div>

  </div>

  <!--<div class="py-4"></div>-->

  <!--<Socials />-->

  <div class="py-5"></div>

  <LatestPosts />

  <div class="py-5"></div>

  <ProjectList />

  <div class="py-5"></div>

  <div class="max-w-xl leading-relaxed space-y-1.5">
    <div class="mb-5">

      I study and specialize in applied robotics and machine learning at <a

      <a class="link" href="https://mcgill.ca">McGill University</a
    >, and worked on swarm robotics research. I'm currently doing exchange in Singapore at <a class="link" href="https://www.ntu.edu.sg/spms"> Nanyang Technological University</a>.

      Previously, I worked at
      <a class="link"
        href="https://qubit.com/">Qubit</a> as a Product Software Engineer on the search, recommendations, and personalization platform.
    </div>

    <div class="mb-5">
      Aside from building things, I'm very interested in psychology, history, physics, and rationality.
      I enjoy bouldering, chess, photography, and solo backpacking.
      I'm currently training for ultra-marathons and triathlons.
    </div>
  </div>

  <div class="py-5"></div>

  <Contact />

</Layout>
