---
import Layout from "../layouts/Layout.astro";
import { ViewTransitions } from "astro:transitions";
import Socials from "@/components/shared/Socials.astro";
import Contact from "@/components/shared/Contact.astro";
import ProjectList from "@/components/home/LatestProjects.astro";
import LatestPosts from "@/components/home/LatestPosts.astro";
---

<Layout title="jingxiangmo.com - home">
  <ViewTransitions />

  <div class="text-2xl text-neutral-100">Projects in Software, Hardware, Design, and Research</div>

  <div class="py-4"></div>


  <div class="max-w-xl leading-relaxed space-y-1.5">

    <div class="mb-4">  I'm JX, and I currently work on the future of automation at <a
        class="text-orange-400 hover:text-neutral-100"
        href="https://zeroth.sh"
        target="_blank">Zeroth</a>.
    </div>

    <div class="mb-4">
      Concurrently, I'm working as a Technical Lead at <a
          class="text-orange-400 hover:text-neutral-100"
          href="https://flojoy.ai"
          target="_blank">Flojoy</a>, building a visual programming system for engineers and scientists
      to simplify robotics control and industrial automation.
    </div>

  </div>

  <!--<div class="py-4"></div>-->

  <!--<Socials />-->

  <div class="py-4"></div>

  <LatestPosts />

  <div class="py-4"></div>

  <ProjectList />

  <div class="py-4"></div>

  <div class="max-w-xl leading-relaxed space-y-1.5">
    <div class="mb-3">

      I study and specialize in applied robotics and machine learning at <a
        class="text-orange-400 hover:text-neutral-100"
        href="https://mcgill.ca"
        target="_blank">McGill University</a
    >, and worked on swarm robotics research.

      Previously, I worked at
      <a
          class="text-orange-400 hover:text-neutral-100"
          href="https://qubit.com/"
          target="_blank">Qubit</a
      > as a Product Software Engineer on the search, recommendations, and personalization platform.
    </div>

    <div class="mb-4">
      My other interests include: Psychology, history, physics, bouldering, rationality, chess, solo backpacking, and photography.
      Right now, I'm training for ultra-marathons and triathlons.
    </div>
  </div>


  <div class="py-4"></div>


  <Contact />
</Layout>
