---
import type { Project } from "@/types/project";
import { Picture } from "astro-imagetools/components";

type Props = {
  proj: Project;
};

const { proj } = Astro.props;
---

<a
  href={proj.link}
  target="_blank"
  class="max-w-xl rounded-md border border-neutral-200 p-4 hover:bg-neutral-200 transition duration-100"
>
  <div class="text-md flex items-center gap-1 text-neutral-900">
    {proj.name}
  </div>
  <div class="py-1"></div>

  <div class="text-sm text-neutral-500">{proj.desc}</div>
</a>
