.nav-bar{
    display: flex;
    height: 20%;
    padding: 0% 5%;
    justify-content: space-between;
    align-items: center;
}

.nav-home{
    font-size: xx-large;
    font-weight: 600;
}

.nav-links{
    width: 140px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

