 
* {
    /* for debugging */
    border-style: dotted;
    border-color: red;
    border-width: 1px;
}

/* global changes */
body {
  margin: 0 20%; 
  font-family:-apple-system, BlinkMacSystemFont, sans-serif;

}

