.main {
  display: grid;
  grid-template-columns: 35rem 10rem;
  width: 45%;
  margin: 0 auto;
}

.section {
  margin: 5rem 0;

  dt {
    font-size: 1.8rem;
    margin: 2rem 0;
    font-weight: bold;
  }

  dd {
    margin: 2.3rem 0;

    p {
      font-size: 0.89rem;
      color: #666;
    }
    a {
      font-weight: bold;

      cursor: pointer;
      transition: color 150ms ease-out;
    }
    a:hover {
      color: #2978b5;
    }
  }

  .writings_list {
    dd {
      margin: 1rem 0;
    }
  }
}

.main > .nav {
  position: sticky;
  margin: 4vh 0;
  top: 2rem;
  align-self: start;
}

.nav li.active > a {
  color: #333;
  font-weight: 500;
}

.nav {
  padding-left: 0;
  border-left: 1px solid #efefef;
}

.nav a {
  text-decoration: none;
  display: block;
  padding: 0.125rem 0;
  color: #666;
  transition: all 50ms ease-in-out;
}

.nav a:hover,
.nav a:focus {
  color: #2978b5;
}

.heading {
  h1 {
    margin-top: 2rem;
    font-size: 4rem;
  }

  p {
    font-size: 0.89rem;
    color: #666;

    // typewriter effect
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;

    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .nav{
    display:none;
  }
}

