@import 'styles/_variables.scss';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body{
  background-color: $background-color;
  color: $text-primary;
}