.overflow_container {
  // remove scrollbar
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: 70vh;
}
// remove scrollbar for chrome
.overflow_container::-webkit-scrollbar {
  display: none;
} 

.cards_grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 500px;
}
