.container {
  display: flex;
  flex-direction: column;
}

.article {
  padding: 10rem 30rem;
}

.article_title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.article_date {
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 2rem;
}

.article_content {
  font-family: Arial, Helvetica, sans-serif;

  font-size: 1.4rem;
  line-height: 2rem;
}


@media (max-width: 1200px) {
  .article {
    padding: 3rem;
  }

}

